
.card{
    width: 700px;
    height: auto;
}

.offcanvas-body{
    width: 1000px;
    height: auto;
}

#petit{
    width: 300px;
    height: auto;
}

#mp{
    width: 500px;
    height: auto;
}

#g{
    width: 1800px;
    height: auto;
}

#card{
    width: 700px;
    height: auto;
}